@import "nullstyle.scss";

body {
   font-family: "Montserrat", sans-serif;
   font-style: normal;
   color: #000000;
   margin: 0;
   padding: 0;
}

.container {
   width: 1440px;
   margin: 0 auto;
}

.header {}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 24px 60px 58px 43px;
}


.menu_1,
.menu_2 {
   padding: 0;
   display: flex;
   justify-content: space-between;
   list-style: none;
}

.menu_2 .menu__item {
   margin-right: 30px;
}

.menu__item {
   font-weight: 600;
   font-size: 15px;
   line-height: 18px;
   color: #000000;
   text-decoration: none;
   padding-bottom: 6px;
   border-bottom: 2px transparent solid;
   transition: 0.2s;
}

.menu__item:hover,
.menu__item.active {
   border-bottom: 2px #e51937 solid;
   color: #e51937;
}

.item1 {
   margin-right: 63px;
}

.item2 {
   margin-right: 25px;
}

.item3 {
   margin-right: 44px;
}

.item4 {
   margin-right: 46px;
}

.tesla_title {
   text-align: center;
   background-image: url(../img/Tesla\ logo\ +\ car.png);
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 594px;
   margin-bottom: 26px;
}

.tesla_title h1 {
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 90px;
   line-height: 110px;
}

.tesla_title p {
   font-weight: 500;
   font-size: 15px;
   line-height: 18px;
   margin: 0;
   padding: 0;
}

.tesla_info {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 37px;
}

.info_block {
   display: flex;
   align-items: center;
   margin-right: 81px;
}

.info_block_img {
   width: 46px;
   margin-right: 14px;
}

.info_block_text1 {
   font-weight: 600;
   font-size: 35px;
   line-height: 43px;
}

.info_block_text1 span {
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   vertical-align: middle;
}

.info_block_text2 {
   font-weight: normal;
   font-size: 12px;
   line-height: 15px;
}

.test_drive {
   cursor: pointer;
   margin-left: 24px;
   margin-right: 40px;
   max-height: 22px;
   display: flex;
   align-items: center;
   font-weight: bold;
   font-size: 13px;
   line-height: 16px;
   text-align: center;
   text-transform: uppercase;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.test_drive img {
   margin-right: 7px;
}

.order {
   font-weight: bold;
   font-size: 13px;
   line-height: 40px;
   text-align: center;
   text-transform: uppercase;
   color: #e51937;
   border: 2px solid #e51937;
   min-width: 160px;
   min-height: 40px;
   cursor: pointer;
}

.go_bottom {
   text-align: center;
   display: block;
}